@use'token';
*, body{
padding:0;
margin:0;
text-align: token.$textAlign;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
};
body{ 
  background: linear-gradient(to right, #F0B7A1 0%, #8C3310 50%, #752201 51%, #BF6E4E 100%);
}
h1{
color:rgb(255, 255, 255);
text-align: center;
}