$bg_color:blue;
$text_color:#FFF;
$textAlign:center;
$textSize:2rem;
$inputWidth:30rem;
$inputHeight:5rem;
$inputBorder:1px solid;
$borderRadius:2rem;
$buttonFontSize:1rem;
$buttonPadding:1rem;
$colorRed : #800;

